.pr{
  margin: 75px auto 0;
  height: 300px;
  background-color: #46599b;
  position: sticky;
}
b span {
  color: brown;
}
.bg-white {
  background-color: white;
  border: 1px solid #0f0f0f;
}
.details{
  margin: 0px auto;
  height: 200px;
  background-color:#f9fbff;
  position: sticky;
}
.progressbar {
  font-family: sans-serif;
  margin: 30px auto;
}
.padding {
  color: white;
  font-size: 25px;
  padding-left: 90px;
  padding-top: 50px;
  padding-right: 90px;
}
.progressbar ul {
  text-align: center;
}
.progressbar ul li {
  width: 22%;
  position: relative;
  display: inline-block;
  color: white;
}
.progressbar ul li .fas {
  background: white;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  padding: 15px;
  color: #6379a1;
  margin-bottom: 10px;
  font-size: 1.2em;
}
.progressbar ul li::after {
  content: '';
  background: white;
  width: 105%;
  height: 3px;
  display: block;
  position: absolute;
  left: -50%;
  top: 60px;
  z-index: -1;
}
.progressbar ul li::before {
  line-height: 30px;
  border: 2px solid white;
  display: block;
  text-align: center;
  margin: 0 auto 10px auto;
  border-radius: 50%;
  background-color: white;
}
.progressbar ul li:first-child:after {
  content: none;
}
.progressbar ul li.active .fas {
  background: green;
  color: white;
}
.progressbar ul li.active:before {
  border-color: #55b776;
}
.progressbar ul li.active + li::after {
  background-color: #55b776;
}
