html {
    height: 100%;
    width: 100%;

}
body {
    height: 100%;
    width: 100%;
    color: black;
    background: url("../images/bg.png") center no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

a {
    text-decoration: none;
    text-decoration-color: white;
    color: black;
}

a:hover {
    text-decoration: none;
    /*text-decoration-color: white;*/
    color: white;
}

.contacts {
    width: 100%;
    padding: 18px 0;
}

.contacts-item {
    /*color: #000;*/
    margin-left: 10px;

}

.contacts-item span {
    font-size: 14px;
    /*margin-left: -4px;*/
    font-weight: bold;
}

.contacts-item a, .contacts-item p {
    font-size: 12px;
    /*margin-left: 45px;*/
}

.contacts-item:before {
    content: '';
    position: absolute;
    margin-right: 12px;
    top: 10px;
    left: -10px;
    width: 30px;
    height: 30px
}

.contacts-item-address:before {
    background: url(../images/pin.svg) no-repeat center;
    background-size: 20px
}

.contacts-item-work-time:before {
    background: url(../images/clock.svg) no-repeat center;
    background-size: 25px
}

.contacts-item-phone:before {
    background: url(../images/phone.svg) no-repeat center;
    background-size: 24px
}

.contacts-item-email:before {
    background: url(../images/email.svg) no-repeat center;
    background-size: 22px
}

@media (max-width: 992px) {
    .contacts {
        padding-bottom: 0
    }

    .contacts-item {
        margin-bottom: 30px
    }
}
.navbar-danger {
    height: 40px;
    background-color: #dc3545;
}

.navbar-danger ul li {
    display: inline;
    margin-right: 30px;
}

.navbar-danger ul {
    padding-top: 7px;
}

.navbar-danger ul li a {
    font-size: 14px;
    color: white;
}

.img-header {
    height: 440px;
}

.bg-light {
    background-color: #ffffff;
}

.bg-yellow {
    background-color: #eeeeee;
}

.bg-darker {
    background-color: #404040;
}

.bg-danger {
    background-color: #f34866;
}

.bg-dark {
    background-color: #191919;
}