@this(webJarsUtil: org.webjars.play.WebJarsUtil)
@import views.html.main
@()
@main("Add Worker", webJarsUtil) {
    @navbar("worker-form")
    <script src="@routes.Assets.versioned("javascripts/registration.js")" type="text/javascript"></script>
    <section class="proposal" id="online-proposal">
        <div class="container" style="margin-top: 50px">
            <div class="col-sm-offset-2 col-sm-8">
                <h3 class="title title--thin title--nightblue text-center proposal__title">Cleaning worker</h3>
                <form class="form-horizontal" action="/upload" method="post" enctype="multipart/form-data">
                    <div class="row">
                        <div class="col-sm-4">
                            <div class="col-sm-12">
                                <div class="form-group">
                                    <input type="text" class="input" id="familiya" placeholder="Familiyasi" name="surname">
                                </div>
                            </div>
                        </div>

                        <div class="col-sm-4">
                            <div class="col-sm-12">
                                <div class="form-group">
                                    <input type="text" class="input" id="ismi" placeholder="Ваше имя *" name="first_name">
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div class="col-sm-12">
                                <div class="form-group">
                                    <input type="text" class="input" id="otasi_ismi" placeholder="otasi_ismi" name="last_name">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-offset-1 col-sm-10">
                            <div class="form-group">
                                <input type="text" class="input" id="manzili" placeholder="manzili" name="address">
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-6">
                            <div class="col-sm-12">
                                <div class="form-group">
                                    <input type="text" class="input" id="tel" placeholder="Номер телефона *" name="phone">
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="col-sm-12">
                                <div class="form-group">
                                    <input type="text" class="input" id="pasport" placeholder="Passport" name="passport_series_and_number">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <label class="col-sm-offset-3 col-sm-6 text-center" for="">Olingan sana:</label>
                        <div class="col-sm-offset-3 col-sm-6">
                            <div class="form-group">
                                <input type="date" class="input" id="" placeholder="Olingan sana" name="day_getting_passport">
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-12 text-center">
                            <label class="" for="file">Foto</label>
                            <div class="form-group">
                                <div class="btn btn--white btn--file" style="padding: 15px" id="file-trigger">
                                    <img src="assets/img/clip.svg">
                                    Прикрепить файл </div>
                                <input type="file" name="file" class="input hide" id="file">
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-offset-1 col-sm-10">
                            <div class="form-group">
                                <input type="text" class="input" id="" placeholder="Ogohlatirish" name="warnings">
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-6">
                            <div class="col-sm-12">
                                <div class="form-group">
                                    <input type="text" class="input" id="" placeholder="Pensionniy nomer" name="pension_number">
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="col-sm-12">
                                <div class="form-group">
                                    <input type="text" class="input" id="itn" placeholder="Inn" name="itn">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-12 text-center">
                            <label class="col-sm-offset-3 col-sm-6 text-center" for="gender">Jinsni tanlang:</label>
                            <div class="col-sm-offset-3 col-sm-6">
                                <div class="form-group">
                                    <select class=" input" id="gender" name="genderId" data-bind="foreach: vm.genders()">
                                        <option name="genderId" data-bind="text: $data.name, value: $data.id"></option>
                                    </select>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <label class="col-sm-offset-3 col-sm-6 text-center" for="">Tug`ilgan sana::</label>
                        <div class="col-sm-offset-3 col-sm-6">
                            <div class="form-group">
                                <input type="date" class="input" id="" placeholder="tug`ilgan sana" name="birthday">
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-offset-1 col-sm-10">
                            <div class="form-group">
                                <input type="text" class="input" id="" placeholder="turar joyi" name="birth_place">
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-12 text-center">
                            <label class="col-sm-offset-3 col-sm-6 text-center" for="education">Malimotni tanlang:</label>
                            <div class="col-sm-offset-3 col-sm-6">
                                <div class="form-group">
                                    <select class="input" id="education" name="educationId" data-bind="foreach: vm.educations()">
                                        <option name="educationId" data-bind="text: $data.name, value: $data.id"></option>
                                    </select>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="text-center">
                        <button type="submit" class="btn btn--skyblue" style="padding: 15px">Отправить</button>
                    </div>
                </form>
            </div>
        </div>
    </section>
}