@(contactPage: String)
<section class="contacts" id="contacts">
    <div class="container">
        <div class="row">
            <div class="col-sm-6 col-md-3">
                <div class="contacts__item contacts__item--address">
                    <span>Адрес</span><br>
                    <p>Ташкент. ул. Ахмад Даниш, 26 дом</p>
                </div>
            </div>

            <div class="col-sm-6 col-md-3">
                <div class="contacts__item contacts__item--work-time">
                    <span>Режим работы</span><br>
                    <p>ПН-CБ с 8:00 до 19:00</p>
                </div>
            </div>

            <div class="col-sm-6 col-md-3">
                <div class="contacts__item contacts__item--phone">
                    <span>Телефон</span><br>
                    <p>+99895 169 66 66</p>
                </div>
            </div>

            <div class="col-sm-6 col-md-3">
                <div class="contacts__item contacts__item--email">
                    <span>Email</span><br>
                    <a href="mailto:info@@luxlaundry.com" class="text-underline">info@@luxlaundry.com</a>
                </div>
            </div>
        </div>
    </div>
</section>


<div class="map"></div>