@()
<section class="contacts" id="contacts">
	<div class="container">
		<div class="row">
			<div class="col-sm-6 col-md-3">
				<div class="contacts__item contacts__item--address">
					<span>Адрес</span><br>
					<p>Ташкент. ул. Ахмад Даниш, 26 дом</p>
				</div>
			</div>

			<div class="col-sm-6 col-md-3">
				<div class="contacts__item contacts__item--work-time">
					<span>Режим работы</span><br>
					<p>ПН-CБ с 8:00 до 19:00</p>
				</div>
			</div>

			<div class="col-sm-6 col-md-3">
				<div class="contacts__item contacts__item--phone">
					<span>Телефон</span><br>
					<p>+99895 169 66 66</p>
				</div>
			</div>

			<div class="col-sm-6 col-md-3">
				<div class="contacts__item contacts__item--email">
					<span>Email</span><br>
					<a href="mailto:info@luxlaundry.com" class="text-underline">info@luxlaundry.com</a>
				</div>
			</div>
		</div>
	</div>
</section>


<div class="map"></div>

<footer class="footer">
	<div class="container">
		<div class="row">
			<div class="col-md-4">
				<div class="footer__copy">© 2016 Lux Laundry | All right reserved</div>
			</div>

			<div class="col-md-4 text-center">
				<ul class="footer__socials socials">
					<li class="socials__item m-r-10">
						<a href="#" class="socials__link btn btn--skyblue" target="_blank">
							<img src="assets/img/facebook.svg" alt="Facebook">
						</a>
					</li>
					<li class="socials__item">
						<a href="https://www.instagram.com/luxlaundry/" class="socials__link btn btn--skyblue" target="_blank">
							<img src="assets/img/instagram.svg" alt="Instagram">
						</a>
					</li>
				</ul>
			</div>

			<div class="col-md-4 text-right">
				<div class="footer__developed">
					Разработано в
					<a href="http://pronumero.com/" target="_blank">
						<img src="assets/img/numero.svg" alt="Numero" class="footer__numero">
					</a>
				</div>
			</div>
		</div>
	</div>
</footer>