@(title: String, webJarsUtil: org.webjars.play.WebJarsUtil)(content: Html)

<!DOCTYPE html>

<html>
    <head>
        <title>@title</title>
        @Html(webJarsUtil.css("css/bootstrap.min.css"))
        <link rel="stylesheet" media="screen" href="@routes.Assets.versioned("stylesheets/test.css")">
        <link rel="shortcut icon" type="image/png" href="@routes.Assets.versioned("images/favicon.png")">
        @Html(webJarsUtil.script("1.11.3/jquery.min.js"))
        @Html(webJarsUtil.script("js/bootstrap.min.js"))
        @Html(webJarsUtil.script("knockout.js"))
        <script src="@routes.Assets.versioned("lib/knockout.mapping-latest.js")"></script>
    </head>
    <body>
    @content
    </body>
</html>
