@(title: String, webJarsUtil: org.webjars.play.WebJarsUtil)(content: Html)

<!DOCTYPE html>

<html>
    <head>
        <title>@title</title>
        <link rel="shortcut icon" type="image/png" href="@routes.Assets.versioned("images/favicon.png")">
        @webJarsUtil.locate("css/bootstrap.min.css").css()
        @webJarsUtil.locate("knockout.js").script()
        <script src="@routes.Assets.versioned("lib/knockout.mapping-latest.js")"></script>
        @webJarsUtil.locate("js/bootstrap.min.js").script()
    </head>
    <body>
    @content
    </body>
</html>
