@(activePage: String)
<div class="header">
    <div class="row bg-light img">
        <div class="col-md-10 offset-md-1 contacts">
            <div class="row">
                <div class="col-md-4">
                    <h2>Cleaning.uz</h2>
                </div>
                <div class="col-md-8">
                    <div class="container">
                        <div class="row">
                            <div class="col-sm-6 col-md-3">
                                <div class="contacts-item contacts-item-address">
                                    <span>Адрес</span><br>
                                    <p>улица Ал-хоразмий, 110, Ургенч, Узбекистан</p>
                                </div>
                            </div>

                            <div class="col-sm-6 col-md-3">
                                <div class="contacts-item contacts-item-work-time">
                                    <span>Режим работы</span><br>
                                    <p>ПН-CБ с 8:00 до 19:00</p>
                                </div>
                            </div>

                            <div class="col-sm-6 col-md-3">
                                <div class="contacts-item contacts-item-phone">
                                    <span>Телефон</span><br>
                                    <p>+99899 967 33 98</p>
                                </div>
                            </div>

                            <div class="col-sm-6 col-md-3">
                                <div class="contacts-item contacts-item-email">
                                    <span>Email</span><br>
                                    <a href="#" class="text-underline">Prince777_98@@mail.ru</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row navbar-danger">
    <ul class="col-md-10 offset-md-1">
        <li>
            <a href="@routes.HomeController.index()">Главная</a>
        </li>
        <li>
            <a href="@routes.HomeController.priceList()">Прас лист</a>
        </li>
    </ul>
</div>
