@(activePage:String)
<nav class="navbar navbar--affix" style="margin-bottom: 0">
    <div class="container">

            <!-- Brand -->
        <a href="" class="logo navbar__logo"></a>

            <!-- Mobile menu toggler -->
        <button class="hamburger navbar__hamburger">
            <span></span>
        </button>

            <!-- Leave request + Lang switcher on the right side -->
        <ul class="navbar__right">
            <li class="navbar__item">
                <a href="@routes.HomeController.index()#online-proposal" class="navbar__btn btn btn--skyblue" style="padding: 15px">Онлайн заявка</a>
            </li>

            <li class="navbar__item navbar__item--drop-toggle">
                <a href="#" class="navbar__link">Ru</a>

                <ul class="navbar__dropdown">
                    <li>
                        <a href="" class="navbar__link">En</a>
                    </li>
                </ul>

            </li>
        </ul>

            <!-- Main navigation list -->
        <ul class="navbar__nav">
            <li class="navbar__item">
                <a href="@routes.HomeController.index()#why-lux-laundry" class="navbar__link" data-surf-to="#why-lux-laundry">Почему Lux Laundry</a>
            </li>

            <li class="navbar__item">
                <a href="@routes.HomeController.priceList()" class="navbar__link">Прайс лист</a>
            </li>

            <li class="navbar__item navbar__item--last">
                <a href="@routes.HomeController.index()#сontacts" class="navbar__link" data-surf-to="#contacts">Контакты</a>
            </li>
        </ul>
    </div>
</nav>