@()
<nav class="navbar navbar--affix">
    <div class="container">

            <!-- Brand -->
        <a href="index.html" class="logo navbar__logo"></a>

            <!-- Mobile menu toggler -->
        <button class="hamburger navbar__hamburger">
            <span></span>
        </button>

            <!-- Leave request + Lang switcher on the right side -->
        <ul class="navbar__right">
            <li class="navbar__item">
                <a href="#online-proposal" class="navbar__btn btn btn--skyblue" data-surf-to="#online-proposal">Онлайн заявка</a>
            </li>

            <li class="navbar__item navbar__item--drop-toggle">
                <a href="#" class="navbar__link">Ru</a>

                <ul class="navbar__dropdown">
                    <li>
                        <a href="en.html" class="navbar__link">En</a>
                    </li>
                </ul>

            </li>
        </ul>

            <!-- Main navigation list -->
        <ul class="navbar__nav">
            <li class="navbar__item">
                <a href="index.html#why-lux-laundry" class="navbar__link" data-surf-to="#why-lux-laundry">Почему Lux Laundry</a>
            </li>

            <li class="navbar__item">
                <a href="price/price-list.html" class="navbar__link">Прайс лист</a>
            </li>

            <li class="navbar__item navbar__item">
                <a href="index.html#reviews" class="navbar__link" data-surf-to="#reviews">Отзывы</a>
            </li>

            <li class="navbar__item navbar__item">
                <a href="index.html#news-and-sales" class="navbar__link" data-surf-to="#news-and-sales">Новости и акции</a>
            </li>

            <li class="navbar__item navbar__item--last">
                <a href="index.html#сontacts" class="navbar__link" data-surf-to="#contacts">Контакты</a>
            </li>
        </ul>
    </div>
</nav>