@()
	<section class="reviews" id="reviews">
			<div class="container relative">
				<h3 class="title title--white title--thin text-center">Отзывы</h3>

				<div class="reviews__arrows">
					<button class="arrow arrow--prev arrow--prev-white">Prev</button>
					<button class="arrow arrow--next arrow--next-white">Next</button>
				</div>

				<div class="reviews__slider">
									<div class="reviews__item">
						<div class="reviews__comment">Отличная химчистка! Всем рекомендую</div>

						<div class="text-right">

						</div>

						<div class="reviews__thumb" style="background-image: url(index.html);"></div>

						<div class="reviews__author">Samandar</div>
					</div>
				 					<div class="reviews__item">
						<div class="reviews__comment">Sifat uchun tanlagan edik, adashmadik. Doim shunaqa ishlela! Minnatdormiz juda sizlardan. </div>

						<div class="text-right">

						</div>

						<div class="reviews__thumb" style="background-image: url(index.html);"></div>

						<div class="reviews__author">Azimjon</div>
					</div>
				 					<div class="reviews__item">
						<div class="reviews__comment">Классный сайт спасибо разработчикам </div>

						<div class="text-right">

						</div>

						<div class="reviews__thumb" style="background-image: url(index.html);"></div>

						<div class="reviews__author">Мухаммад Али</div>
					</div>
				 				</div>

				<div class="text-center">
					<button class="btn btn--skyblue m-t-20" id="toggle-review-modal">Оставить отзыв</button>
				</div>
				<div class="text-center">
					<a href="comment.html" class="btn btn--white m-t-20">Все отзывы</a>
				</div>

			</div>
		</section>