@()
<header class="page-top"  style="@routes.Assets.versioned("images/price-list-header.jpg")">
    <div class="container">
        <h2 class="page-top__title">Прайс лист</h2>
    </div>
</header>

<section class="price-list">
    <div class="container">
        <div class="price-list__tabs">
            <button class="price-list__tab price-list__tab--active" id="show-allW-tabs">Все</button>
            <button class="price-list__tab" data-tab-id="0">
                Текстильные изделия</button>
            <button class="price-list__tab" data-tab-id="1">
                Верхняя одежда</button>
            <button class="price-list__tab" data-tab-id="2">
                Аксессуары</button>
            <button class="price-list__tab" data-tab-id="3">
                Столовое белье</button>
            <button class="price-list__tab" data-tab-id="4">
                Покраска</button>
            <button class="price-list__tab" data-tab-id="5">
                Постельные принадлежности</button>
            <button class="price-list__tab" data-tab-id="6">
                Предметы интерьера</button>
            <button class="price-list__tab" data-tab-id="7">
                Прочее</button>
        </div>
    </div>

    <div class="tab-content">
        <div class="price-list__title">
            <div class="price-list__icon">
                <img src="../assets/img/icon-shirt.svg" alt="Shirt">
            </div>

            <span class="title title--thick title--darkblue fs-30">
                Текстильные изделия</span>

        </div>

        <div class="price-list__content">

            <div class="container">

                <div class="price-list__item">
                    <span class="price-list__name">
                        Джемпер, Половер, Свитер</span>
                    <div class="price-list__dots"></div>
                    <span class="price-list__quantity">
                        1шт.</span>
                    <span class="price-list__price">24000 UZS</span>
                </div>

                <div class="price-list__item">
                    <span class="price-list__name">
                        Джемпер ангорка (на подкладе)</span>
                    <div class="price-list__dots"></div>
                    <span class="price-list__quantity">
                        1шт.</span>
                    <span class="price-list__price">26000 UZS</span>
                </div>

                <div class="price-list__item">
                    <span class="price-list__name">
                        Джемпер ангорка (на подкладе)</span>
                    <div class="price-list__dots"></div>
                    <span class="price-list__quantity">
                        1шт.</span>
                    <span class="price-list__price">26000 UZS</span>
                </div>

                <div class="price-list__item">
                    <span class="price-list__name">
                        Свитер ангорка</span>
                    <div class="price-list__dots"></div>
                    <span class="price-list__quantity">
                        1шт.</span>
                    <span class="price-list__price">24000 UZS</span>
                </div>

                <div class="price-list__item">
                    <span class="price-list__name">
                        Жилет синтепоновая</span>
                    <div class="price-list__dots"></div>
                    <span class="price-list__quantity">
                        1шт.</span>
                    <span class="price-list__price">25500 UZS</span>
                </div>

                <div class="price-list__item">
                    <span class="price-list__name">
                        Комбинезон</span>
                    <div class="price-list__dots"></div>
                    <span class="price-list__quantity">
                        1шт.</span>
                    <span class="price-list__price">25000 UZS</span>
                </div>

                <div class="price-list__item">
                    <span class="price-list__name">
                        Детские платья сложного покроя</span>
                    <div class="price-list__dots"></div>
                    <span class="price-list__quantity">
                        1шт.</span>
                    <span class="price-list__price">22000 UZS</span>
                </div>

                <div class="price-list__item">
                    <span class="price-list__name">
                        Детские платья </span>
                    <div class="price-list__dots"></div>
                    <span class="price-list__quantity">
                        1шт.</span>
                    <span class="price-list__price">13000 UZS</span>
                </div>

                <div class="price-list__item">
                    <span class="price-list__name">
                        Свадебное платье</span>
                    <div class="price-list__dots"></div>
                    <span class="price-list__quantity">
                        1шт.</span>
                    <span class="price-list__price">100000 UZS</span>
                </div>

                <div class="price-list__item">
                    <span class="price-list__name">
                        Платье вечернее</span>
                    <div class="price-list__dots"></div>
                    <span class="price-list__quantity">
                        1шт.</span>
                    <span class="price-list__price">46000 UZS</span>
                </div>

                <div class="price-list__item">
                    <span class="price-list__name">
                        Платья сложного покроя</span>
                    <div class="price-list__dots"></div>
                    <span class="price-list__quantity">
                        1шт.</span>
                    <span class="price-list__price">50000 UZS</span>
                </div>

                <div class="price-list__item">
                    <span class="price-list__name">
                        Платья, сарафан простого покроя</span>
                    <div class="price-list__dots"></div>
                    <span class="price-list__quantity">
                        1шт.</span>
                    <span class="price-list__price">25000 UZS</span>
                </div>

                <div class="price-list__item">
                    <span class="price-list__name">
                        Детский свитер</span>
                    <div class="price-list__dots"></div>
                    <span class="price-list__quantity">
                        1шт.</span>
                    <span class="price-list__price">11000 UZS</span>
                </div>

                <div class="price-list__item">
                    <span class="price-list__name">
                        Кофта</span>
                    <div class="price-list__dots"></div>
                    <span class="price-list__quantity">
                        1шт.</span>
                    <span class="price-list__price">14000 UZS</span>
                </div>

                <div class="price-list__item">
                    <span class="price-list__name">
                        Джемпер длинный</span>
                    <div class="price-list__dots"></div>
                    <span class="price-list__quantity">
                        1шт.</span>
                    <span class="price-list__price">34000 UZS</span>
                </div>

                <div class="price-list__item">
                    <span class="price-list__name">
                        Жилет ангорка</span>
                    <div class="price-list__dots"></div>
                    <span class="price-list__quantity">
                        1шт.</span>
                    <span class="price-list__price">24000 UZS</span>
                </div>

                <div class="price-list__item">
                    <span class="price-list__name">
                        Жилет</span>
                    <div class="price-list__dots"></div>
                    <span class="price-list__quantity">
                        1шт.</span>
                    <span class="price-list__price">16500 UZS</span>
                </div>

                <div class="price-list__item">
                    <span class="price-list__name">
                        Детская юбка сложная/ cкладки,плиссе</span>
                    <div class="price-list__dots"></div>
                    <span class="price-list__quantity">
                        1шт.</span>
                    <span class="price-list__price">10000 UZS</span>
                </div>

                <div class="price-list__item">
                    <span class="price-list__name">
                        Юбка сложная/ складки,плиссе</span>
                    <div class="price-list__dots"></div>
                    <span class="price-list__quantity">
                        1шт.</span>
                    <span class="price-list__price">21000 UZS</span>
                </div>

                <div class="price-list__item">
                    <span class="price-list__name">
                        Юбка простого покроя</span>
                    <div class="price-list__dots"></div>
                    <span class="price-list__quantity">
                        1шт.</span>
                    <span class="price-list__price">17000 UZS</span>
                </div>

                <div class="price-list__item">
                    <span class="price-list__name">
                        Детские джинсы</span>
                    <div class="price-list__dots"></div>
                    <span class="price-list__quantity">
                        1шт.</span>
                    <span class="price-list__price">10000 UZS</span>
                </div>

                <div class="price-list__item">
                    <span class="price-list__name">
                        Детские брюки</span>
                    <div class="price-list__dots"></div>
                    <span class="price-list__quantity">
                        1шт.</span>
                    <span class="price-list__price">10000 UZS</span>
                </div>

                <div class="price-list__item">
                    <span class="price-list__name">
                        Шорты</span>
                    <div class="price-list__dots"></div>
                    <span class="price-list__quantity">
                        1шт.</span>
                    <span class="price-list__price">14000 UZS</span>
                </div>

                <div class="price-list__item">
                    <span class="price-list__name">
                        Капри</span>
                    <div class="price-list__dots"></div>
                    <span class="price-list__quantity">
                        1шт.</span>
                    <span class="price-list__price">17000 UZS</span>
                </div>

                <div class="price-list__item">
                    <span class="price-list__name">
                        Джинсы</span>
                    <div class="price-list__dots"></div>
                    <span class="price-list__quantity">
                        1шт.</span>
                    <span class="price-list__price">17000 UZS</span>
                </div>

                <div class="price-list__item">
                    <span class="price-list__name">
                        Трико</span>
                    <div class="price-list__dots"></div>
                    <span class="price-list__quantity">
                        1шт.</span>
                    <span class="price-list__price">19000 UZS</span>
                </div>

                <div class="price-list__item">
                    <span class="price-list__name">
                        Брюки тренировочные</span>
                    <div class="price-list__dots"></div>
                    <span class="price-list__quantity">
                        1шт.</span>
                    <span class="price-list__price">21000 UZS</span>
                </div>

                <div class="price-list__item">
                    <span class="price-list__name">
                        Брюки</span>
                    <div class="price-list__dots"></div>
                    <span class="price-list__quantity">
                        1шт.</span>
                    <span class="price-list__price">21000 UZS</span>
                </div>

                <div class="price-list__item">
                    <span class="price-list__name">
                        Фрак</span>
                    <div class="price-list__dots"></div>
                    <span class="price-list__quantity">
                        1шт.</span>
                    <span class="price-list__price">27500 UZS</span>
                </div>

                <div class="price-list__item">
                    <span class="price-list__name">
                        Смокинг</span>
                    <div class="price-list__dots"></div>
                    <span class="price-list__quantity">
                        1шт.</span>
                    <span class="price-list__price">27500 UZS</span>
                </div>

                <div class="price-list__item">
                    <span class="price-list__name">
                        Пиджак</span>
                    <div class="price-list__dots"></div>
                    <span class="price-list__quantity">
                        1шт.</span>
                    <span class="price-list__price">27000 UZS</span>
                </div>

                <div class="price-list__item">
                    <span class="price-list__name">
                        Детская пижама</span>
                    <div class="price-list__dots"></div>
                    <span class="price-list__quantity">
                        2шт.</span>
                    <span class="price-list__price">10000 UZS</span>
                </div>

                <div class="price-list__item">
                    <span class="price-list__name">
                        Детская рубашка</span>
                    <div class="price-list__dots"></div>
                    <span class="price-list__quantity">
                        1шт.</span>
                    <span class="price-list__price">9000 UZS</span>
                </div>

                <div class="price-list__item">
                    <span class="price-list__name">
                        Майка х/б</span>
                    <div class="price-list__dots"></div>
                    <span class="price-list__quantity">
                        1шт.</span>
                    <span class="price-list__price">9000 UZS</span>
                </div>

                <div class="price-list__item">
                    <span class="price-list__name">
                        Водолазка</span>
                    <div class="price-list__dots"></div>
                    <span class="price-list__quantity">
                        1шт.</span>
                    <span class="price-list__price">14000 UZS</span>
                </div>

                <div class="price-list__item">
                    <span class="price-list__name">
                        Блузка</span>
                    <div class="price-list__dots"></div>
                    <span class="price-list__quantity">
                        1шт.</span>
                    <span class="price-list__price">18000 UZS</span>
                </div>

                <div class="price-list__item">
                    <span class="price-list__name">
                        Футболка</span>
                    <div class="price-list__dots"></div>
                    <span class="price-list__quantity">
                        1шт.</span>
                    <span class="price-list__price">15000 UZS</span>
                </div>

                <div class="price-list__item">
                    <span class="price-list__name">
                        Пижама,халат</span>
                    <div class="price-list__dots"></div>
                    <span class="price-list__quantity">
                        1шт.</span>
                    <span class="price-list__price">18000 UZS</span>
                </div>

                <div class="price-list__item">
                    <span class="price-list__name">
                        Финка</span>
                    <div class="price-list__dots"></div>
                    <span class="price-list__quantity">
                        1шт.</span>
                    <span class="price-list__price">15000 UZS</span>
                </div>

                <div class="price-list__item">
                    <span class="price-list__name">
                        Рубашка</span>
                    <div class="price-list__dots"></div>
                    <span class="price-list__quantity">
                        1шт.</span>
                    <span class="price-list__price">16000 UZS</span>
                </div>

                <div class="price-list__item">
                    <span class="price-list__name">
                        Детский костюм тройка</span>
                    <div class="price-list__dots"></div>
                    <span class="price-list__quantity">
                        комп.</span>
                    <span class="price-list__price">27000 UZS</span>
                </div>

                <div class="price-list__item">
                    <span class="price-list__name">
                        Детский костюм двойка</span>
                    <div class="price-list__dots"></div>
                    <span class="price-list__quantity">
                        комп.</span>
                    <span class="price-list__price">22000 UZS</span>
                </div>

                <div class="price-list__item">
                    <span class="price-list__name">
                        Лыжный костюм</span>
                    <div class="price-list__dots"></div>
                    <span class="price-list__quantity">
                        1шт.</span>
                    <span class="price-list__price">30000 UZS</span>
                </div>

                <div class="price-list__item">
                    <span class="price-list__name">
                        Спортивный костюм утепленный</span>
                    <div class="price-list__dots"></div>
                    <span class="price-list__quantity">
                        1шт.</span>
                    <span class="price-list__price">42000 UZS</span>
                </div>

                <div class="price-list__item">
                    <span class="price-list__name">
                        Спортивный костюм</span>
                    <div class="price-list__dots"></div>
                    <span class="price-list__quantity">
                        1шт.</span>
                    <span class="price-list__price">37000 UZS</span>
                </div>

                <div class="price-list__item">
                    <span class="price-list__name">
                        Костюм мужской тройка</span>
                    <div class="price-list__dots"></div>
                    <span class="price-list__quantity">
                        комп.</span>
                    <span class="price-list__price">53500 UZS</span>
                </div>

                <div class="price-list__item">
                    <span class="price-list__name">
                        Костюм женский тройка</span>
                    <div class="price-list__dots"></div>
                    <span class="price-list__quantity">
                        комп.</span>
                    <span class="price-list__price">53500 UZS</span>
                </div>

                <div class="price-list__item">
                    <span class="price-list__name">
                        Костюм женский двойка</span>
                    <div class="price-list__dots"></div>
                    <span class="price-list__quantity">
                        комп.</span>
                    <span class="price-list__price">44000 UZS</span>
                </div>

                <div class="price-list__item">
                    <span class="price-list__name">
                        Костюм мужской двойка</span>
                    <div class="price-list__dots"></div>
                    <span class="price-list__quantity">
                        комп.</span>
                    <span class="price-list__price">44000 UZS</span>
                </div>
            </div>


        </div>
    </div>
    <div class="tab-content">
        <div class="price-list__title">
            <div class="price-list__icon">
                <img src="../assets/img/icon-shirt.svg" alt="Shirt">
            </div>

            <span class="title title--thick title--darkblue fs-30">
                Верхняя одежда</span>

        </div>

        <div class="price-list__content">

            <div class="container">

                <div class="price-list__item">
                    <span class="price-list__name">
                        Шуба из синтетического меха</span>
                    <div class="price-list__dots"></div>
                    <span class="price-list__quantity">
                        1шт.</span>
                    <span class="price-list__price">55000 UZS</span>
                </div>

                <div class="price-list__item">
                    <span class="price-list__name">
                        Полушубок натуральная</span>
                    <div class="price-list__dots"></div>
                    <span class="price-list__quantity">
                        1шт.</span>
                    <span class="price-list__price">60000 UZS</span>
                </div>

                <div class="price-list__item">
                    <span class="price-list__name">
                        Шуба натуральная</span>
                    <div class="price-list__dots"></div>
                    <span class="price-list__quantity">
                        1шт.</span>
                    <span class="price-list__price">90000 UZS</span>
                </div>

                <div class="price-list__item">
                    <span class="price-list__name">
                        Дубленка искусст. С натуральным мехом</span>
                    <div class="price-list__dots"></div>
                    <span class="price-list__quantity">
                        1шт.</span>
                    <span class="price-list__price">59500 UZS</span>
                </div>

                <div class="price-list__item">
                    <span class="price-list__name">
                        Дубленка искусст. с синтетич-м мех. длинная</span>
                    <div class="price-list__dots"></div>
                    <span class="price-list__quantity">
                        1шт.</span>
                    <span class="price-list__price">55500 UZS</span>
                </div>

                <div class="price-list__item">
                    <span class="price-list__name">
                        Дубленка искусст. с синтетич-м мех. короткая</span>
                    <div class="price-list__dots"></div>
                    <span class="price-list__quantity">
                        1шт.</span>
                    <span class="price-list__price">39500 UZS</span>
                </div>

                <div class="price-list__item">
                    <span class="price-list__name">
                        Детское пальто</span>
                    <div class="price-list__dots"></div>
                    <span class="price-list__quantity">
                        1шт.</span>
                    <span class="price-list__price">27000 UZS</span>
                </div>

                <div class="price-list__item">
                    <span class="price-list__name">
                        Детский плащ</span>
                    <div class="price-list__dots"></div>
                    <span class="price-list__quantity">
                        1шт.</span>
                    <span class="price-list__price">20000 UZS</span>
                </div>

                <div class="price-list__item">
                    <span class="price-list__name">
                        Полупальто</span>
                    <div class="price-list__dots"></div>
                    <span class="price-list__quantity">
                        1шт.</span>
                    <span class="price-list__price">39500 UZS</span>
                </div>

                <div class="price-list__item">
                    <span class="price-list__name">
                        Пальто с меховым воротником</span>
                    <div class="price-list__dots"></div>
                    <span class="price-list__quantity">
                        1шт.</span>
                    <span class="price-list__price">53000 UZS</span>
                </div>

                <div class="price-list__item">
                    <span class="price-list__name">
                        Пальто</span>
                    <div class="price-list__dots"></div>
                    <span class="price-list__quantity">
                        1шт.</span>
                    <span class="price-list__price">44000 UZS</span>
                </div>

                <div class="price-list__item">
                    <span class="price-list__name">
                        Плащ длинный</span>
                    <div class="price-list__dots"></div>
                    <span class="price-list__quantity">
                        1шт.</span>
                    <span class="price-list__price">43500 UZS</span>
                </div>

                <div class="price-list__item">
                    <span class="price-list__name">
                        Плащ короткий (до колен)</span>
                    <div class="price-list__dots"></div>
                    <span class="price-list__quantity">
                        1шт.</span>
                    <span class="price-list__price">34000 UZS</span>
                </div>

                <div class="price-list__item">
                    <span class="price-list__name">
                        Куртка на синтипоне тонкая</span>
                    <div class="price-list__dots"></div>
                    <span class="price-list__quantity">
                        1шт.</span>
                    <span class="price-list__price">30000 UZS</span>
                </div>

                <div class="price-list__item">
                    <span class="price-list__name">
                        Детская куртка на пуху</span>
                    <div class="price-list__dots"></div>
                    <span class="price-list__quantity">
                        1шт.</span>
                    <span class="price-list__price">22500 UZS</span>
                </div>

                <div class="price-list__item">
                    <span class="price-list__name">
                        Детская куртка на синтипоне</span>
                    <div class="price-list__dots"></div>
                    <span class="price-list__quantity">
                        1шт.</span>
                    <span class="price-list__price">17500 UZS</span>
                </div>

                <div class="price-list__item">
                    <span class="price-list__name">
                        Ветровка</span>
                    <div class="price-list__dots"></div>
                    <span class="price-list__quantity">
                        1шт.</span>
                    <span class="price-list__price">27000 UZS</span>
                </div>

                <div class="price-list__item">
                    <span class="price-list__name">
                        Куртка на пуху</span>
                    <div class="price-list__dots"></div>
                    <span class="price-list__quantity">
                        1шт.</span>
                    <span class="price-list__price">47000 UZS</span>
                </div>

                <div class="price-list__item">
                    <span class="price-list__name">
                        Куртка на синтипоне</span>
                    <div class="price-list__dots"></div>
                    <span class="price-list__quantity">
                        1шт.</span>
                    <span class="price-list__price">37000 UZS</span>
                </div>

                <div class="price-list__item">
                    <span class="price-list__name">
                        Куртка джинсовая </span>
                    <div class="price-list__dots"></div>
                    <span class="price-list__quantity">
                        1шт.</span>
                    <span class="price-list__price">26000 UZS</span>
                </div>
            </div>


        </div>
    </div>
    <div class="tab-content">
        <div class="price-list__title">
            <div class="price-list__icon">
                <img src="../assets/img/icon-shirt.svg" alt="Shirt">
            </div>

            <span class="title title--thick title--darkblue fs-30">
                Аксессуары</span>

        </div>

        <div class="price-list__content">

            <div class="container">

                <div class="price-list__item">
                    <span class="price-list__name">
                        Плед</span>
                    <div class="price-list__dots"></div>
                    <span class="price-list__quantity">
                        1шт.</span>
                    <span class="price-list__price">30000 UZS</span>
                </div>

                <div class="price-list__item">
                    <span class="price-list__name">
                        Сумка</span>
                    <div class="price-list__dots"></div>
                    <span class="price-list__quantity">
                        1шт.</span>
                    <span class="price-list__price">35000 UZS</span>
                </div>

                <div class="price-list__item">
                    <span class="price-list__name">
                        Шапка меховая</span>
                    <div class="price-list__dots"></div>
                    <span class="price-list__quantity">
                        1шт.</span>
                    <span class="price-list__price">40000 UZS</span>
                </div>

                <div class="price-list__item">
                    <span class="price-list__name">
                        Носки</span>
                    <div class="price-list__dots"></div>
                    <span class="price-list__quantity">
                        Пара</span>
                    <span class="price-list__price">4000 UZS</span>
                </div>

                <div class="price-list__item">
                    <span class="price-list__name">
                        Меховой воротник</span>
                    <div class="price-list__dots"></div>
                    <span class="price-list__quantity">
                        1шт.</span>
                    <span class="price-list__price">15000 UZS</span>
                </div>

                <div class="price-list__item">
                    <span class="price-list__name">
                        Кепка драповая </span>
                    <div class="price-list__dots"></div>
                    <span class="price-list__quantity">
                        1шт.</span>
                    <span class="price-list__price">15000 UZS</span>
                </div>

                <div class="price-list__item">
                    <span class="price-list__name">
                        Кепка х/б</span>
                    <div class="price-list__dots"></div>
                    <span class="price-list__quantity">
                        1шт.</span>
                    <span class="price-list__price">12000 UZS</span>
                </div>

                <div class="price-list__item">
                    <span class="price-list__name">
                        Фартук</span>
                    <div class="price-list__dots"></div>
                    <span class="price-list__quantity">
                        1шт.</span>
                    <span class="price-list__price">7200 UZS</span>
                </div>

                <div class="price-list__item">
                    <span class="price-list__name">
                        Перчатки</span>
                    <div class="price-list__dots"></div>
                    <span class="price-list__quantity">
                        1шт.</span>
                    <span class="price-list__price">12000 UZS</span>
                </div>

                <div class="price-list__item">
                    <span class="price-list__name">
                        Шапка из синтетического меха</span>
                    <div class="price-list__dots"></div>
                    <span class="price-list__quantity">
                        1шт.</span>
                    <span class="price-list__price">13000 UZS</span>
                </div>

                <div class="price-list__item">
                    <span class="price-list__name">
                        Шапка трикотажная</span>
                    <div class="price-list__dots"></div>
                    <span class="price-list__quantity">
                        1шт.</span>
                    <span class="price-list__price">10500 UZS</span>
                </div>

                <div class="price-list__item">
                    <span class="price-list__name">
                        Платок паутина</span>
                    <div class="price-list__dots"></div>
                    <span class="price-list__quantity">
                        1шт.</span>
                    <span class="price-list__price">17500 UZS</span>
                </div>

                <div class="price-list__item">
                    <span class="price-list__name">
                        Платок, шарф (шерстяной)</span>
                    <div class="price-list__dots"></div>
                    <span class="price-list__quantity">
                        1шт.</span>
                    <span class="price-list__price">15000 UZS</span>
                </div>

                <div class="price-list__item">
                    <span class="price-list__name">
                        Платок, шарф</span>
                    <div class="price-list__dots"></div>
                    <span class="price-list__quantity">
                        1шт.</span>
                    <span class="price-list__price">15000 UZS</span>
                </div>

                <div class="price-list__item">
                    <span class="price-list__name">
                        Галстук</span>
                    <div class="price-list__dots"></div>
                    <span class="price-list__quantity">
                        1шт.</span>
                    <span class="price-list__price">15000 UZS</span>
                </div>
            </div>


        </div>
    </div>
    <div class="tab-content">
        <div class="price-list__title">
            <div class="price-list__icon">
                <img src="../assets/img/icon-shirt.svg" alt="Shirt">
            </div>

            <span class="title title--thick title--darkblue fs-30">
                Столовое белье</span>

        </div>

        <div class="price-list__content">

            <div class="container">

                <div class="price-list__item">
                    <span class="price-list__name">
                        Скатерти,салфетки</span>
                    <div class="price-list__dots"></div>
                    <span class="price-list__quantity">
                        1кг.</span>
                    <span class="price-list__price">14000 UZS</span>
                </div>
            </div>


        </div>
    </div>
    <div class="tab-content">
        <div class="price-list__title">
            <div class="price-list__icon">
                <img src="../assets/img/icon-shirt.svg" alt="Shirt">
            </div>

            <span class="title title--thick title--darkblue fs-30">
                Покраска</span>

        </div>

        <div class="price-list__content">

            <div class="container">

                <div class="price-list__item">
                    <span class="price-list__name">
                        Куртка тёплая</span>
                    <div class="price-list__dots"></div>
                    <span class="price-list__quantity">
                        1шт.</span>
                    <span class="price-list__price">30000 UZS</span>
                </div>

                <div class="price-list__item">
                    <span class="price-list__name">
                        Куртка тонкая</span>
                    <div class="price-list__dots"></div>
                    <span class="price-list__quantity">
                        1шт.</span>
                    <span class="price-list__price">20000 UZS</span>
                </div>

                <div class="price-list__item">
                    <span class="price-list__name">
                        Рубашка</span>
                    <div class="price-list__dots"></div>
                    <span class="price-list__quantity">
                        1шт.</span>
                    <span class="price-list__price">14000 UZS</span>
                </div>

                <div class="price-list__item">
                    <span class="price-list__name">
                        Ветровка</span>
                    <div class="price-list__dots"></div>
                    <span class="price-list__quantity">
                        1шт.</span>
                    <span class="price-list__price">20000 UZS</span>
                </div>

                <div class="price-list__item">
                    <span class="price-list__name">
                        Куртка кожанная</span>
                    <div class="price-list__dots"></div>
                    <span class="price-list__quantity">
                        1шт.</span>
                    <span class="price-list__price">45000 UZS</span>
                </div>

                <div class="price-list__item">
                    <span class="price-list__name">
                        Детские брюки</span>
                    <div class="price-list__dots"></div>
                    <span class="price-list__quantity">
                        1шт.</span>
                    <span class="price-list__price">12000 UZS</span>
                </div>

                <div class="price-list__item">
                    <span class="price-list__name">
                        Брюки</span>
                    <div class="price-list__dots"></div>
                    <span class="price-list__quantity">
                        1шт.</span>
                    <span class="price-list__price">16000 UZS</span>
                </div>
            </div>


        </div>
    </div>
    <div class="tab-content">
        <div class="price-list__title">
            <div class="price-list__icon">
                <img src="../assets/img/icon-shirt.svg" alt="Shirt">
            </div>

            <span class="title title--thick title--darkblue fs-30">
                Постельные принадлежности</span>

        </div>

        <div class="price-list__content">

            <div class="container">

                <div class="price-list__item">
                    <span class="price-list__name">
                        Стирка,глажка,упаковка постельного белья</span>
                    <div class="price-list__dots"></div>
                    <span class="price-list__quantity">
                        1кг.</span>
                    <span class="price-list__price">9500 UZS</span>
                </div>

                <div class="price-list__item">
                    <span class="price-list__name">
                        Детское одеяло</span>
                    <div class="price-list__dots"></div>
                    <span class="price-list__quantity">
                        1шт.</span>
                    <span class="price-list__price">21000 UZS</span>
                </div>

                <div class="price-list__item">
                    <span class="price-list__name">
                        Накидка на мягкую мебель</span>
                    <div class="price-list__dots"></div>
                    <span class="price-list__quantity">
                        комп.</span>
                    <span class="price-list__price">50000 UZS</span>
                </div>

                <div class="price-list__item">
                    <span class="price-list__name">
                        Покрывало двуспальное</span>
                    <div class="price-list__dots"></div>
                    <span class="price-list__quantity">
                        1шт.</span>
                    <span class="price-list__price">44000 UZS</span>
                </div>

                <div class="price-list__item">
                    <span class="price-list__name">
                        Покрывало односпальное</span>
                    <div class="price-list__dots"></div>
                    <span class="price-list__quantity">
                        1шт.</span>
                    <span class="price-list__price">30500 UZS</span>
                </div>

                <div class="price-list__item">
                    <span class="price-list__name">
                        Покрывало гобеленовое</span>
                    <div class="price-list__dots"></div>
                    <span class="price-list__quantity">
                        1шт.</span>
                    <span class="price-list__price">24000 UZS</span>
                </div>

                <div class="price-list__item">
                    <span class="price-list__name">
                        Подушка на пуху</span>
                    <div class="price-list__dots"></div>
                    <span class="price-list__quantity">
                        1шт.</span>
                    <span class="price-list__price">22000 UZS</span>
                </div>

                <div class="price-list__item">
                    <span class="price-list__name">
                        Подушка на синтепоне</span>
                    <div class="price-list__dots"></div>
                    <span class="price-list__quantity">
                        1шт.</span>
                    <span class="price-list__price">19000 UZS</span>
                </div>

                <div class="price-list__item">
                    <span class="price-list__name">
                        Одеяло на пуху</span>
                    <div class="price-list__dots"></div>
                    <span class="price-list__quantity">
                        1шт.</span>
                    <span class="price-list__price">46500 UZS</span>
                </div>

                <div class="price-list__item">
                    <span class="price-list__name">
                        Одеяло шерстяное</span>
                    <div class="price-list__dots"></div>
                    <span class="price-list__quantity">
                        1шт.</span>
                    <span class="price-list__price">46000 UZS</span>
                </div>

                <div class="price-list__item">
                    <span class="price-list__name">
                        Одеяло на синтепоне</span>
                    <div class="price-list__dots"></div>
                    <span class="price-list__quantity">
                        1шт.</span>
                    <span class="price-list__price">42000 UZS</span>
                </div>
            </div>


        </div>
    </div>
    <div class="tab-content">
        <div class="price-list__title">
            <div class="price-list__icon">
                <img src="../assets/img/icon-shirt.svg" alt="Shirt">
            </div>

            <span class="title title--thick title--darkblue fs-30">
                Предметы интерьера</span>

        </div>

        <div class="price-list__content">

            <div class="container">

                <div class="price-list__item">
                    <span class="price-list__name">
                        Шелковый тюль (1м)</span>
                    <div class="price-list__dots"></div>
                    <span class="price-list__quantity">
                        1м.</span>
                    <span class="price-list__price">10000 UZS</span>
                </div>

                <div class="price-list__item">
                    <span class="price-list__name">
                        Шторы, портьеры, изделия из гобелена (1м)</span>
                    <div class="price-list__dots"></div>
                    <span class="price-list__quantity">
                        1м.</span>
                    <span class="price-list__price">15000 UZS</span>
                </div>

                <div class="price-list__item">
                    <span class="price-list__name">
                        Коврики</span>
                    <div class="price-list__dots"></div>
                    <span class="price-list__quantity">
                        1шт.</span>
                    <span class="price-list__price">20000 UZS</span>
                </div>
            </div>


        </div>
    </div>
    <div class="tab-content">
        <div class="price-list__title">
            <div class="price-list__icon">
                <img src="../assets/img/icon-shirt.svg" alt="Shirt">
            </div>

            <span class="title title--thick title--darkblue fs-30">
                Прочее</span>

        </div>

        <div class="price-list__content">

            <div class="container">

                <div class="price-list__item">
                    <span class="price-list__name">
                        Чехлы для автомобилей (натуральные) (2 шт)</span>
                    <div class="price-list__dots"></div>
                    <span class="price-list__quantity">
                        2шт.</span>
                    <span class="price-list__price">50000 UZS</span>
                </div>

                <div class="price-list__item">
                    <span class="price-list__name">
                        Чехлы для автомобилей (натуральные)</span>
                    <div class="price-list__dots"></div>
                    <span class="price-list__quantity">
                        комп.</span>
                    <span class="price-list__price">90000 UZS</span>
                </div>

                <div class="price-list__item">
                    <span class="price-list__name">
                        Чехлы для автомобилей (стандартные)</span>
                    <div class="price-list__dots"></div>
                    <span class="price-list__quantity">
                        комп.</span>
                    <span class="price-list__price">55000 UZS</span>
                </div>

                <div class="price-list__item">
                    <span class="price-list__name">
                        Чехлы для автомобилей (тонкие)</span>
                    <div class="price-list__dots"></div>
                    <span class="price-list__quantity">
                        комп.</span>
                    <span class="price-list__price">22500 UZS</span>
                </div>

                <div class="price-list__item">
                    <span class="price-list__name">
                        Игрушка мягкая (1кг)</span>
                    <div class="price-list__dots"></div>
                    <span class="price-list__quantity">
                        1кг.</span>
                    <span class="price-list__price">15000 UZS</span>
                </div>
            </div>


        </div>
    </div>

</section>
