@this(webJarsUtil: org.webjars.play.WebJarsUtil)
@import views.html.main
@()
<link href="@routes.Assets.versioned("stylesheets/price-list.css")" rel="stylesheet">
@main("Play", webJarsUtil) {
  @navbar("Price-List")
  <script src="@routes.Assets.versioned("javascripts/priceList.js")" type="text/javascript"></script>
  <header class="mt-5">
    <div class="container">
      <h1 class="page-top__title">Прайс лист</h1>
    </div>
  </header>

  <div class="tab-content" data-bind="foreach: vm.titles()">
    <div class="price-list__title">
      <div class="price-list__icon">
        <img src="@routes.Assets.versioned("img/icon-shirt.svg")" alt="Shirt">
      </div>
      <span class="title" data-bind="text: $data"></span>
    </div>
    <div class="container" data-bind="foreach: $root.vm.priceList()[$data]">
      <div class="price-list__content">
        <div class="container">
          <div class="price-list__item">
            <span class="price-list__name" data-bind="text: $data.name"></span>
            <div class="price-list__dots"></div>
            <span class="price-list__quantity" data-bind="text: $data.count"></span>
            <span class="price-list__price"><b data-bind="text: $data.price"></b></span>
          </div>
        </div>
      </div>
    </div>
  </div>
}